.card_banner{
	display: flex;
	flex-direction: column;
}

.card_name_date{
	display: flex;
	justify-content: space-between;
	padding: 0rem 2rem 0rem 2rem;
	margin : 1rem 1rem 1rem 1rem;
}

.main_feed_card{
margin: 2rem 3rem 0rem 3rem;
padding: 2rem 3rem 0rem 3rem;
border: .1rem rgba(128, 128, 128, 0.276) solid;
box-shadow: 0rem 0rem 1rem rgb(112 128 144 / 47%);
border-radius: 1rem;

}

.main_feed_wrapper{
	margin: 5rem 15rem 0rem 15rem;
}

.main_box_feed{
	display: flex;
	flex-direction: column;
	height: 450px;
	width: auto;
	
}

.card_container{
	position: relative;
	border:solid .1rem grey;
	height: 410px;
	width:auto;

}

.description{
	margin:1rem 2rem 1rem 2rem ;
}

.title{
	margin:0rem 0rem 1rem 0rem;
}

.graphics{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}