.gear{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin: 1rem 3rem 0rem 3rem;

}


.gear_card{
	margin: 1rem;
	padding: 1rem;
	border: solid rgba(128, 128, 128, 0.171) .05rem;
	border-radius: .5rem;
	flex-basis: 20%;
	/* box-shadow: .2rem .2rem rgba(128, 128, 128, 0.158); */
	text-decoration: none;
}

.gear_card:hover{
	box-shadow: 0rem 0rem 2rem  rgba(128, 128, 128, 0.137);
}




.gear_card_image{
	margin: 1rem;
	
}

.gear_detail_link{
	text-decoration: none;
	color: slategray;
}

.gear_detail{
	display: flex;
	justify-content: space-between;
	margin: 2rem 5rem 2rem 5rem;
	
}

.left_container{
	padding: 1rem;
	margin: 1.75rem;
	/* flex-basis: 30%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.middle_container{
	margin: 4rem 1rem 1rem 2rem;
	flex-basis: 55%;
	padding: 2rem 0rem 0rem 1rem;
}

.gear_image{
	margin: 1rem;
}

.gear_detail_background{
	background-image: url("");
	background-repeat: no-repeat;
}

.add_gear_btn{
	/* position: relative;
	float: right; */
	border: solid grey .2rem;
	margin: 1rem 1rem 1rem 1rem;
}


