.admin_list{
	margin: 1rem;
}

.pending{
	padding:1rem;
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	min-width: max-content;
	/* justify-content: space-between; */
}

.request_info{
	display: flex;
}

.request_info_header{
	margin:0rem 1rem 0rem 0rem;
}

.obj_details{
	margin:0rem 0rem 0rem 3rem;
	max-width: 750px;
}

.buttons{
	display: flex;
	/* flex-direction: column; */
}

.click{
	margin: 0rem .25rem 0rem 0rem;
	cursor: pointer;
}

.admin_header{
	box-shadow: 0rem 0rem 1rem rgb(112 128 144 / 47%);
	padding: 1rem 3rem 1rem 1rem;
	display: flex;
}