.route{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1rem;
	padding: 1rem;
	border: solid grey .05rem;
}

.route_detail{
	margin: .5rem;
	
}


.button{
	margin: .5rem;
	
}

.routes-header{
	text-align: center;
	margin: 2rem;
}

.form {
	margin: 4rem 15rem 0rem 15rem;
	border:.15rem grey solid;
	border-radius: .5rem;
	padding: 1rem;
}

.form-control{
	margin: 1rem 0rem 1rem 0rem;
	
}

.form-header{
	text-align: center;
	
}

.route_list{
	display: flex;
	flex-direction: column;
}


/* .routes_title{
	position: absolute; top: 10rem; left: 60rem;
	color: whitesmoke;
} */

.route_buttons{
	display: flex;
	flex-direction: column;
}