
@import "~react-image-gallery/styles/css/image-gallery.css";



.route {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 5rem 1rem 5rem;
  padding: 1rem;
  border: solid grey 0.05rem;
  /* border:solid rgba(245, 245, 245, 0.685) .1rem; */
  transition: all 0.2s ease-in-out;
  border-radius: 2rem;
  background-color: rgba(212, 214, 216, 0.466);
}

.route:hover {
  box-shadow: 0rem 0rem 2rem rgba(112, 128, 144, 0.192);
  transform: scale(1.05);
  border:solid rgba(245, 245, 245, 0.685) .1rem;
  border: solid grey 0.05rem;
}
/* .grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); } */

.route_detail {
  /* padding: .375rem 0rem; */
  /* width: */

}

.routes-header {
  text-align: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.form {
  margin: 4rem 15rem 0rem 15rem;
  border: 0.15rem grey solid;
  border-radius: 0.5rem;
  padding: 1rem;
}

.form-control {
  margin: 1rem 0rem 1rem 0rem;
}

.form-header {
  text-align: center;
}

.route_list {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  background-size: 100%;
  background-image: no-repeat;
  overflow: scroll;
 

}

.route_buttons {
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem 0rem 0rem;
}

.route_search_wrapper {
  margin: 0rem 1rem 1rem 0rem;
  float: right;
  display: flex;
  flex-direction: column;
}

.route_details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.route_list_header{
	box-shadow: 0rem 0rem 1rem rgb(112 128 144 / 47%);
	padding: 1rem;
	display: flex;
	justify-content: space-between;

}

.to_route_list_form{
	margin: 0rem 0rem 0rem 2rem;
}

.route_btn{
	display: flex;
	flex-direction: column;
	color: whitesmoke;
}

.route_list_header_name{
	display: flex;
}

.routes_tick_list_container{
  display: flex;
  margin: 2rem;
  width: max-content;
}

.route_detail_body{
  display: flex;
}

.ticks_todos_container{

  width:max-content;
}

.route_image{
  height: auto;
  width:max-content;
}

.image_gallery{
  width: max-content;
  height: auto;
}

.submit_pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.route_pics{
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;

}

.route_about{
  margin:2rem;
  width: max-content;
}

.route_main_body{
  width:min-content;
}
.route_description{
  width:900px;
  padding: 1rem;
}

.route_detail_fa{
  width: 220px;
}