.todo_list_details{
	display: flex;
	justify-content: space-between;
	margin: 1rem;
	border: .3rem rgba(112, 128, 144, 0.575);
}

.todo_list_header{
	text-align: center;
}

.todo_remove_btn{
	margin: 0rem 0rem 0rem 1rem;
}