.todo_list_details{
	display: flex;
	justify-content: space-between;
	border: .3rem rgba(112, 128, 144, 0.575);
}

.todo_list_header{
	/* text-align: center; */
}

.todo_remove_btn{
	margin: 1rem;
	
}

.add_remove_btn{
	display: flex;
}

.todo_list{
	margin:3rem 0rem 0rem 0rem;
}