.wall{
	/* margin: 1rem; */
	padding: 1rem;
	border: solid grey .05rem;
	transition: all .2s ease-in-out;
}

.wall:hover{
	box-shadow: 0rem 0rem 1rem rgba(181, 182, 184, 0.384);
	/* transform: scale(1.01); */
}

/* .grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); } */

.wall_detail_header{
	text-align: center;
	margin: 3rem;
}

.wall_routes_list_header{
	margin: 0rem 0rem 0rem 3rem;
}

.wall_list{
	display: flex;
	flex-direction: column;
	padding: 1rem 1rem 1rem 1rem;
	text-align: center;
	
	/* background-image: url("https://res.cloudinary.com/ddaeunjfu/image/upload/a_90/v1627341375/Arete/Backgrounds/vsrdohkremfqe8g4kvem.jpg") ; */
	background-image: url("https://res.cloudinary.com/ddaeunjfu/image/upload/a_090/v1627511208/Arete/Backgrounds/ra3wdohcuy6crvdcptun.jpg") ;
	background-size: 100%;
	background-image: no-repeat;
       
	overflow: scroll;
	/* height: 1025px; */
}      

.wall_button_search_wrapper{
	margin: 0rem 1rem 0rem 1rem;
	/* display: flex;
	flex-direction: column; */
	float: right;
}

.card{
	margin: 1rem 7rem 1rem 7rem;
	
}

.card:hover{
	transform: scale(1.01);
}

.wall_list_header{
	box-shadow: 0rem 0rem 1rem rgb(112 128 144 / 47%);
	padding: 1rem;
	display: flex;
}

.to_wall_form{
	margin: 0rem 0rem 0rem 2rem;
}

.wall_list_header_name{
	display: flex;
}