.wall{
	/* margin: 1rem; */
	padding: 1rem;
	border: solid grey .05rem;
	transition: all .2s ease-in-out;
}

.wall:hover{
	box-shadow: 0rem 0rem 1rem rgba(181, 182, 184, 0.384);
	/* transform: scale(1.01); */
}

/* .grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); } */

.wall_detail_header{
	text-align: center;
	margin: 3rem;
}

.wall_routes_list_header{
	margin: 0rem 0rem 0rem 3rem;
}

.wall_list{
	display: flex;
	flex-direction: column;
	margin: 1rem 2rem 1rem 0rem;
	text-align: center;
	margin: 1rem 1rem 1rem 1rem;
}

.wall_button_search_wrapper{
	margin: 3rem 15rem 1rem 15rem;
	display: flex;
	flex-direction: column;
}

.card{
	margin: 1rem 7rem 1rem 7rem;
	
}

.card:hover{
	transform: scale(1.01);
}

.wall_list_header{
	box-shadow: 0rem 0rem 1rem rgb(112 128 144 / 47%);
	padding: 1rem;
	display: flex;
}

.to_wall_form{
	margin: 0rem 0rem 0rem 2rem;
}