.wall{
	/* margin: 1rem; */
	padding: 1rem;
	border: solid grey .05rem;
}

.wall:hover{
	box-shadow: 0rem 0rem 1rem rgba(181, 182, 184, 0.384);
}

.wall_detail_header{
	text-align: center;
	margin: 3rem;
}

.wall_routes_list_header{
	margin: 0rem 0rem 0rem 3rem;
}

.wall_list{
	display: flex;
	flex-direction: column;
	margin: 1rem 2rem 1rem 0rem;
}

.wall_button_search_wrapper{
	margin: 1rem 7rem 1rem 7rem;
	display: flex;
	flex-direction: column;
}

.card{
	margin: 1rem 7rem 1rem 7rem;
}