.area_list{
	display: flex;
	flex-direction: column;
	margin: 1rem 1rem 1rem 1rem;
	text-align: center;
	/* background-color: rgba(21, 21, 95, 0.336); */
}

.area_list_header{
	box-shadow: 0rem 0rem 1rem rgb(112 128 144 / 47%);
	padding: 1rem;
	display: flex;
}

.to_area_form{
	margin: 0rem 0rem 0rem 2rem;
}
.area_header{
	box-shadow: 0rem 0rem 1rem rgb(112 128 144 / 47%);
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

.area{
	margin: 1rem 7rem 1rem 7rem;
}

.new_area_form{
	padding: 4rem 15rem 2rem 15rem;
	text-align: center;
}