.area_list{
	display: flex;
	flex-direction: column;
	margin: 1rem 1rem 1rem 1rem;
	text-align: center;
}

.area_list_header{
	box-shadow: 0rem 0rem 1rem rgb(112 128 144 / 47%);
	padding: 1rem;
	display: flex;
}

.to_area_form{
	margin: 0rem 0rem 0rem 2rem;
}