.friends_list_header{
	text-align: center;
	margin-top: 3rem;
}


.friends{
	margin: rem 5rem 0rem 5rem;
	padding: .5rem;
	display: flex;
	flex-wrap: wrap;
	
}

.friend_img{
	height: 350px;
	/* width: 150px; */
}

.friend_card{
	margin: 1rem;
	text-align: center;
}