.gear {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}

.gear_card{
	text-align: center;
}

/* .gear_card {
 

  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
} */

.gear_list_header {
  text-align: center;
  margin-top: 1rem;
}

.btn {
  border: grey 0.15rem solid;
}

.wrapper{
	display: flex;
	flex-wrap: wrap;
	height: 440px;
        width: auto;
        overflow: auto;
        float: left;
        position: relative;
        margin-left: -5px;
}
/* .wrapper {
  

  display: grid;

  grid-gap: calc(var(--gutter) / 4);
  grid-template-columns: repeat(8, calc(25% - var(--gutter) * 2));
  grid-template-rows: minmax(50px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
  list-style: none;
  padding: 0;
} */

/* .outer-wrapper {

  
  height: 395px;
  
  overflow-y: scroll;
 
}


html,
body {
  height: 100%;
} */



:root {
  --gutter: 50px;
}

.gear_list_wrapper{
	display: flex;
	flex-direction: column;
	
}