.gear{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content:space-evenly ;
}


.gear_card{
	margin: 1rem;
	padding: 1rem;
	border: solid grey .05rem;
	flex-basis: 20%;
	
} 

.gear_list_header{
	text-align: center;
}


.btn{
	border: grey .15rem solid;
	margin: 1rem;
      }