.gear{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin: 3rem;

}


.gear_card{
	margin: 1rem;
	padding: 1rem;
	border: solid rgba(128, 128, 128, 0.171) .05rem;
	border-radius: .5rem;
	flex-basis: 20%;
	/* box-shadow: .2rem .2rem rgba(128, 128, 128, 0.158); */
}

.gear_card:hover{
	box-shadow: 0rem 0rem 2rem  rgba(128, 128, 128, 0.137);
}



.gear_list_title{
	
	position: absolute; top: 10rem; left: 60rem;
	text-shadow: .2rem .2rem rgba(47, 47, 47, 0.493);
}


.gear_card_image{
	margin: 1rem
	;
}


