


.gear_card{
	margin: 1rem;
	padding: 1rem;
	border: solid rgba(128, 128, 128, 0.171) .05rem;
	border-radius: .5rem;
	flex-basis: 20%;
	/* box-shadow: .2rem .2rem rgba(128, 128, 128, 0.158); */
}

.gear_card:hover{
	box-shadow: 0rem 0rem 2rem  rgba(128, 128, 128, 0.137);
}



.gear_list_title{
	
	position: absolute; top: 10rem; left: 60rem;
	text-shadow: .2rem .2rem rgba(47, 47, 47, 0.493);
}


.gear_card_image{
	margin: 1rem
	;
}

.training_title{
	position: absolute; top: 10rem; left: 10rem;
	text-shadow: .2rem .2rem rgba(47, 47, 47, 0.493);
	color:whitesmoke
}
.routes_title{
	position: absolute; top: 20rem; left: 10rem;
	text-shadow: .2rem .2rem rgba(47, 47, 47, 0.493);
	color:whitesmoke
}

.gear_shop_title{
	position: absolute; top: 15rem; left: 55rem;
	text-shadow: .2rem .2rem rgba(47, 47, 47, 0.493);
	color:whitesmoke	
}

.route_header{
	box-shadow: 0rem 0rem 1rem rgba(112, 128, 144, 0.473);
	padding: 1rem;
}





