.climber {
  margin: 2rem;
  padding: 1rem;
  border: solid grey 0.05rem;
  display: flex;

  vertical-align: bottom;
  display: flex;
  flex-direction: column;
}

.climbers_header {
  position: relative;
}

.climber_title {
  position: absolute;
  top: 10rem;
  left: 55rem;
}

.climber_name {
  text-decoration: none;
  color: rgb(14, 65, 75);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
}
.climber_name:hover {
  box-shadow: 0rem 0rem 2rem rgba(181, 182, 184, 0.384);
}

.climber_card {
  margin: 2rem;
  border: 0.1rem solid rgb(229, 229, 229);
  flex-basis: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid rgba(18, 25, 93, 0.125); */
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}
/* .grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); } */

.climber_card:hover {
  transform: scale(1.05);
}
.card {
  border: 1px solid rgb(4 16 73 / 82%);
}

.climber_details {
  margin: 2rem 1rem 1rem 1rem;
}
.climber_detail{
	margin: .5rem
}

.climber_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem 3rem 0rem 3rem;
  background-color: white;
  /* background-image: url("https://res.cloudinary.com/ddaeunjfu/image/upload/v1627341375/Arete/Backgrounds/vsrdohkremfqe8g4kvem.jpg"); */
}

.gear_detail_link {
  display: flex;
  flex-direction: column;
}

.climber_badge {
  text-align: center;
}

.climber_card_info {
  margin: 1rem;

  text-align: center;
}

.ticks_and_todos {
  display: flex;
  justify-content: space-between;
  margin: 1rem 8rem 1rem 8rem;
}

.climber_img {
  height: 150px;
  width: 120px;
}

.climber_detail_page {
  display: flex;
}

.climber_lists {
  display: flex;
  flex-direction: column;
}
.climbers_search {
  margin: 1rem;
}

.climber_list_wrapper {
  display: flex;
  /* flex-direction: column; */
}

.climber_header {
  box-shadow: 0rem 0rem 1rem rgb(112 128 144 / 47%);
  padding: 1rem 3rem 1rem 3rem;
  display: flex;
  justify-content: space-between;
}

.climber_list_header{
	box-shadow: 0rem 0rem 1rem rgb(112 128 144 / 47%);
	padding: 1rem;
}
