.climber{
	margin: 1rem;
	padding: 1rem;
	border: solid grey .05rem;
	display: flex;
	justify-content: space-between;
	vertical-align: bottom;
}

.climbers_header{
	position: relative;
}

.climber_title{
	position: absolute; top: 10rem; left: 55rem

}

.climber_name{
	text-decoration: none;
	display: flex;
	justify-content: space-evenly;
}