.climber{
	margin: 1rem;
	padding: 1rem;
	border: solid grey .05rem;
	display: flex;
	justify-content: space-between;
	vertical-align: bottom;
}

.climbers_header{
	position: relative;
}

.climber_title{
	position: absolute; top: 10rem; left: 55rem

}

.climber_name{
	text-decoration: none;
	color: rgb(229, 229, 229);
	background-color:rgba(36, 49, 166, 0.719);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.climber_name:hover{
	box-shadow: 0rem 0rem 2rem rgba(193, 203, 212, 0.452);
}

.climber_card{
	margin: 2rem;

	flex-basis: 20%;	
}

.climber_details{
	margin: 2rem 1rem 1rem 1rem;
}

.climber_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 1rem 3rem 0rem 3rem;
	background-color: rgba(0, 0, 0, 0.799);

}

.gear_detail_link{
	display: flex;
	flex-direction: column;
}

.climber_badge{
	text-align: center;
}

.climber_card_info{
	margin: 1rem;
	
	text-align: center;
}