.tick_list_details{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	border: .3rem rgba(112, 128, 144, 0.575);
}
.tick_list_header{
	/* text-align: center; */
}

.btn{
	display: flex;
}
.tick{
	display: flex;
	justify-content: space-between;
}

.tick_list{
	margin: 3rem 0rem 0rem 0rem;
}


