.navbar {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: left; */
  background-color: rgb(59, 58, 58);
  color: slategray;
  text-decoration: none;
  box-shadow:.2rem .2rem .2rem .2rem rgba(128, 128, 128, 0.226) ;
}
  

.navbar_item {
  flex-basis: 10%;
  list-style-type: none;
  
}

.navbar_link {
	text-decoration: none;
	list-style-type: none;
}
