.navbar {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: left; */
  background-color: rgb(59, 58, 58);
  /* color: slategray; */
  text-decoration: none;
  box-shadow:.2rem .2rem .2rem .2rem rgba(37, 37, 37, 0.89);
  margin: 0rem ;
  position:fixed;
  left:0;
  top:0
}
  

.navbar_item {
  flex-basis: 10%;
  list-style-type: none;
  
}

.navbar_link {
	text-decoration: none;
	list-style-type: none;
}

.log_out{
  cursor: pointer;
  color: #0d6efd
}

.log_out:hover{
  opacity: 70%;
}