.h1, h1 {
    font-size: 2.5rem;
}

main{
       background-image: url(https://res.cloudinary.com/ddaeunjfu/image/upload/v1626311871/Arete/Backgrounds/yosemite_nqbkhf.jpg);
       background-blend-mode: overlay;
       background-repeat: no-repeat; 
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

/* .form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 40em;
} */

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: inline-block;
    text-align: center;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
}

.form--login {
    /* background-position-x: right; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
    /* background-image: url(https://res.cloudinary.com/ddaeunjfu/image/upload/v1626311871/Arete/Backgrounds/yosemite_nqbkhf.jpg); */
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    margin:10rem;
    padding: 2rem;
    border: solid grey .1rem;
    border-radius: 1rem;
    box-shadow: #4950574a .25rem .45rem;
    text-align: center;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

/* .container--login{
    background-image: url(https://res.cloudinary.com/ddaeunjfu/image/upload/v1626311871/Arete/Backgrounds/yosemite_nqbkhf.jpg);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
} */

.email--container{
    
    display: inline-block;
    /* flex-direction: column; */
    /* justify-content: center; */
}